body
	font-family: 'Roboto', Arial, sans-serif
	font-weight: 300
	font-size: 16px
	line-height: (23/16)
	color: $grey

h1, h2, h3, h4, h5, h6
	font-weight: normal

a
	color: inherit
	text-decoration: none

img
	display: block
	width: 100%

.out
	overflow: hidden

.container
	max-width: 1140px
	margin: 0 auto
	padding: 0 15px

.title-md
	font-size: 32px
	font-weight: 500
	line-height: (52/32)
	text-transform: uppercase
	text-align: center
	color: $black

.link
	color: $red
	text-decoration: underline
	+hover
		text-decoration: none
	&_upper
		text-transform: uppercase
		
.input
	height: 45px
	line-height: 45px
	border-radius: 3px
	border: 2px solid #cbcdce
	background-color: $white
	font-family: 'Roboto', Arial, sans-serif
	font-size: 14px
	font-weight: 300
	+placeholder-color($grey)
	
.btn
	display: inline-block
	height: 45px
	padding: 0 24px
	border-radius: 2px
	background-color: $white
	border: 2px solid $red
	outline: $red solid 1px
	outline-offset: -2px
	transition: all .7s cubic-bezier(0.19, 1, 0.22, 1)
	text-transform: uppercase
	color: $black
	font-size: 14px
	font-weight: 700
	line-height: 44px
	cursor: pointer
	+hover
		outline-color: rgba(255, 255, 255, 0)
		outline-offset: 12px
		background: $red
		color: $white
			
.sect-bg
	background: url('../img/bg/sect-bg.jpg') repeat 50% 50%

.js-next-section
	position: relative

.next-section
	position: absolute
	left: calc(50% - 12px)
	bottom: 40px
	z-index: 1
	background: 0 0
	&__icon
		font-size: 58px
		
.owl-carousel
	&__btn
		position: absolute
		top: 50%
		transform: translateY(-50%)
		z-index: 1
		padding: 5px
		cursor: pointer
		&_prev
			left: 30px
		&_next
			right: 30px
		&-icon
			font-size: 43px
			fill: none
			stroke: $grey