---
title: About Page
---
extends layouts/_layout

block header
	include partials/_header

block content
	+b.MAIN
		// begin screen-slider
		+b.screen-sld
			+e.IMG(src='img/screen-sld-6.jpg' style='display: block; margin: 0 auto; width: 100%; max-height: 800px')
		// end screen-slider

		//- history timeline
		-var history = {classMod: '_default sect-bg js-next-section', title:'ИСТОРИЯ НАШЕГО УСПЕХА'};
		include components/_history

		//- team
		-var team = {classMod: '_default js-next-section', title: 'НАДЕЖНАЯ КОМАНДА — ЗАЛОГ КАЧЕСТВЕННОЙ УСЛУГИ'}
		include components/_team

		//- achieve
		-var achieve = {classMod: '_default sect-bg', title: 'ЗАВОЕВАННЫЕ НАМИ "ВЫСОТЫ"'}
		include components/_achieve

		//- clients
		-var clients = {classMod: '_default js-next-section', title: 'НАШИ КЛИЕНТЫ'}
		include components/_clients

		//- ask
		-var ask = {classMod: '_default sect-bg', title: 'Есть, что спросить?', descr: 'Ответим на любые Ваши вопросы'};
		include components/_ask
