---
title: Articles Page
---
extends layouts/_layout

block header
	-var headerClass = '_no-slider';
	include partials/_header

block content
	+b.MAIN

		+b.SECTION.articles
			+e.container.container
				//- tags
				-var tags = {classMod: '_aside', title:'ТЕГИ'};
				include components/_tags
				+e.col
					+b.ARTICLE.article
						+e.title.title-md ПОДАРОК НАЧАЛЬНИКУ ИЛИ ДИРЕКТОРУ
						+e.date 10.03.2017
						+e.in
							+e.img-wrap
								+e.IMG(src='img/content/articles-img.jpg')
							+e.P Какой подарить подарок начальнику или директору на день рождения? Как правило, в дружных коллективах день рождения коллеги - всегда праздник. А день рождения начальника (или директора) - это праздник вдвойне.
							+e.P Разумеется, сразу повисает вопрос - что же подарить? От этого вопроса так просто не отмахнешься, и в итоге приходится приходить к общему решению. Но какому?Вначале стоит определиться с тем, каким именно должен быть подарок, и процесс его вручения. Серьезным? Шуточным? Если речь идет о серьезном подарке, то он определенно должен быть стильным, и довольно дорогим, из какой-либо бизнес коллекции одного из ведущих брендов (С полным списком брендов, которые представлены в нашем интернет магазине вы можете ознакомиться, нажав кнопку "бренды" в меню сверх).
							+e.P Как правило, очень положительное впечатление производят сувениры с гравировкой, когда человеку сразу видно, что люди ради него старались, а не просто купили вещицу по пути на работу. Это сразу многократно увеличивает ценность подарка для именинника. Кстати, в нашем интернет магазине "Сувенировед" есть много вариантов персонализации подарков, такие как нанесение, гравировка, и т.д.
							+e.P Постарайтесь отразить в своем сюрпризе интересны начальника или директора. Если вы их не знаете - постарайтесь узнать у коллег, может быть кто-то располагает подобной информацией. Если такой возможности нет, можно воспользоваться стандартными решениями - к примеру, письменные принадлежности являются беспроигрышным вариантом.
							+e.P Тем более что выбор представляется очень большой - от ручек parker до элитных ежедневников.Так же вы можете воспользоваться нашей автоматической системой подбора подарков, для этого в меню сверху выберите пункт "персонально", а после нажмите ссылку "коллеге". Наверняка вы найдете что-либо, что покажется Вам интересным.
					//- socials
					include components/_socials

					//- feedback
					-var feedbackClass = '_default';
					include components/_feedback

		//- ask
		-
			var ask = {classMod: '_default sect-bg', title: 'Есть, что спросить?', descr: 'Ответим на любые Ваши вопросы'}
		include components/_ask