---
title: Blog Page
---
extends layouts/_layout

block header
	-var headerClass = '_no-slider';
	include partials/_header

block content
	+b.MAIN

		//- tags
		-var tags = {classMod: '_default'};
			include components/_tags

		//- blog
		-var blogClass = '_default';
		include components/_blog
		//- ask
		-
			var ask = {classMod: '_default sect-bg', title: 'Есть, что спросить?', descr: 'Ответим на любые Ваши вопросы'}
		include components/_ask