---
title: Polygraphy Page
---
extends layouts/_layout

block header
	include partials/_header

block content
	+b.MAIN
		// begin screen-slider
		+b.screen-sld
			+e.IMG(src='img/screen-sld-5.jpg' style='display: block; margin: 0 auto; width: 100%; max-height: 800px')
		// end screen-slider

		//- category
		-
			var category = {classMod: '_default js-next-section', title: 'МЫ ДЕЛАЕМ СЛОЖНОЕ ОЧЕНЬ ПРОСТО', listTitle: 'Наш спектр услуг:', btnText: 'СМОТРЕТЬ ПОДРОБНЕЕ'};
			var catList = ['Дизайн полиграфии', 'Разработка фирменного стиля и логотипа', 'Печать на специализированной бумаге', 'Шелкография', 'Черно-белая печать', 'Послепечатная обработка', 'Дополнительные возможности', 'Дизайн полиграфии', 'Черно-белая печать', 'Дополнительные возможности'];
			var catViewList = ['category', 'category-2', 'category-3', 'category', 'category-2', 'category-3', 'category', 'category-2', 'category-3', 'category'];
		include components/_category

		//-benefits
		-
			var benefits = {classMod: '_big sect-bg js-next-section', title: 'СОБСТВЕННОЕ ПРОИЗВОДСТВО', slider: true};
			var benefitsList = [{
			classMod: '_horizontal',
			picMod: 'tape',
			title: '17 лет',
			subTitle: 'занимаемся производством',
			descrTop: 'с 2000 года владеем собственной типографией'
			},{
			classMod: '_horizontal',
			picMod: 'equipment',
			title: '19 единиц',
			subTitle: 'оборудования',
			descrTop: 'Только профессиональное оборудование производства Германии и Японии'
			},{
			classMod: '_horizontal',
			picMod: 'push-btn',
			title: '90% процессов',
			subTitle: 'автоматизированы',
			descrTop: 'Для производства любого объема продукции любому количеству заказчиков'
			}];
			var benefitsSldList = ['benefit-1', 'benefit-2', 'benefit-3', 'benefit-4', 'benefit-1', 'benefit-2'];
		include components/_benefits

		//-benefits
		-
			var benefits = {classMod: '_polygraph js-next-section', title: 'НАШ ОПЫТ — ВАША ГАРАНТИЯ КАЧЕСТВА', slider: false};
			var benefitsList = [{
			picMod: 'types',
			title: 'Более 30',
			subTitle: 'видов',
			descrTop: 'полиграфической продукции мы',
			descrBot: 'делаем на собсвтенном производстве'
			},{
			picMod: 'handshake',
			title: '967',
			subTitle: 'компаний',
			descrTop: 'доверяют нам и работают с нами',
			descrBot: 'на постоянной основе'
			},{
			picMod: 'pen-list',
			title: 'Более 5000',
			subTitle: 'заказов',
			descrTop: 'в год Мы разрабатываем',
			descrBot: 'и реализуем нестандартные проекты любой сложности и любого тиража'
			}
			,{
			picMod: 'list',
			title: '129379 млн',
			subTitle: 'листов-оттисков',
			descrTop: 'мы произвели',
			descrBot: 'за последние 5 лет'
			},{
			picMod: 'paper',
			title: '2231 тонн',
			subTitle: 'бумаги',
			descrTop: 'израсходовали для',
			descrBot: 'выполения заказов'
			}];
		include components/_benefits

		//- quality
		-var quality = {classMod: '_no-slider js-next-section', title: 'ВЫСОКОЕ КАЧЕСТВО РАБОТ В 100% СЛУЧАЯХ'};
		include components/_quality

		//- delivery
		-var deliveryTeaser = {classMod: '_souvenirs', title: 'Доставляем более чем по 90 регионам'}
		include components/_delivery-teaser

		//- ask
		-var ask = {classMod: '_default sect-bg', title: 'Есть, что спросить?', descr: 'Ответим на любые Ваши вопросы'};
		include components/_ask
