---
title: Souvenirs Page
---
extends layouts/_layout

block header
	include partials/_header

block content
	+b.MAIN
		// begin screen-slider
		+b.screen-sld
			+e.IMG(src='img/screen-sld-3.jpg' style='display: block; margin: 0 auto; width: 100%; max-height: 800px')
		// end screen-slider

		//- category
		-
			var category = {classMod: '_default js-next-section', title: 'мы знаем о сувенирах все', listTitle: 'Категории продуктов:', btnText: 'СМОТРЕТЬ ПОДРОБНЕЕ'};
			var catList = ['Текстиль', 'Футболки', 'Ежедневники', 'Пишущие пренадлежности', 'Бизнес и офис', 'Сумки, портфели', 'Промо ассорти', 'Текстиль', 'Футболки', 'Ежедневники'];
			var catViewList = ['category', 'category-2', 'category-3', 'category', 'category-2', 'category-3', 'category', 'category-2', 'category-3', 'category'];
		include components/_category

		//-benefits
		-
			var benefits = {classMod: '_souvenirs js-next-section', title: 'НАШ ОПЫТ — ВАША ГАРАНТИЯ КАЧЕСТВА'};
			var benefitsList = [{
			picMod: 'tape',
			title: '21 год',
			subTitle: 'в отрасли',
			descrTop: 'Рекламное агенство "Штрих.ру"',
			descrBot: 'существует с 1996 года.'
			},{
			picMod: 'present',
			title: 'Более 55 000',
			subTitle: 'товаров',
			descrTop: 'Огромный выбор товаров',
			descrBot: 'позволит вам найти, то что вам нужно'
			},{
			picMod: 'vehicle',
			title: '717 953 ед.',
			subTitle: 'сувенирной продукции',
			descrTop: 'Мы поставили точно в срок',
			descrBot: 'за последние 5 лет'
			},{
			picMod: 'list',
			title: 'Более 20',
			subTitle: 'каталогов',
			descrTop: 'Мы явлемся официальным дилером',
			descrBot: 'ведущих сувенирных каталогов'
			}
			,{
			picMod: 'handshake',
			title: 'Более 100',
			subTitle: 'производителей',
			descrTop: 'Мы напрямую поставляем продукцию',
			descrBot: 'ведущих российских, европейских и азиатских вендорови реселлеров'
			}];
		include components/_benefits

		//- quality
		-var quality = {classMod: '_no-slider js-next-section', title: 'ВЫСОКОЕ КАЧЕСТВО РАБОТ В 100% СЛУЧАЯХ'};
		include components/_quality

		//- delivery
		-var deliveryTeaser = {classMod: '_souvenirs', title: 'Доставляем более чем по 90 регионам'}
		include components/_delivery-teaser

		//- ask
		-var ask = {classMod: '_default sect-bg', title: 'Есть, что спросить?', descr: 'Ответим на любые Ваши вопросы'};
		include components/_ask