---
title: Текстовая
---
extends layouts/_layout

block header
	include partials/_header

block content
	+b.MAIN
		//begin text-block
		+b.SECTION.text-block
			+e.container.container
				+e.H2.title.title-md мы знаем о сувенирах все
				+e.inner
					+e.P Если вы работаете на рекламном рынке, оказываете маркетинговые услуги или реализуете рекламно-сувенирную продукцию и хотите иметь индивидуальные условия сотрудничества, отправьте нам запрос и мы свяжемся с вами в ближайшее время.
					+e.list
						+e.H5.list-title Мы предлагаем:
						+e.UL
							+e.LI опыт работы в рекламно-сувенирной отрасли более 20 лет
								+icon('icon-list-arr')
							+e.LI уникальный по ширине ассортимент сувенирной продукции — более 55 000 артикулов, готовых к заказу
								+icon('icon-list-arr')
							+e.LI централизованный заказ из всех доступных каталогов в одном месте — более 20 каталогов ведущих поставщиков
								+icon('icon-list-arr')
							+e.LI большой опыт поставки сборных заказов от разных производителей и фабрик — более 100 проверенных прямых производителей
								+icon('icon-list-arr')
							+e.LI доставка во все регионы России
								+icon('icon-list-arr')
					+e.list
						+e.H5.list-title Вы получаете:
						+e.UL
							+e.LI быстрый подбор товаров на отдельном сайте с актуальными ценами и ассортиментом
								+icon('icon-list-arr')
							+e.LI оперативное предоставление информации (коммерческое предложение в течение 24часов) и индивидуальный менеджер
								+icon('icon-list-arr')
							+e.LI выгодные условия сотрудничества для рекламных агентств
								+icon('icon-list-arr')
					+e.P С нами работают рекламные агентства со всей России
					+e.P
						+e.STRONG Мы всегда рады новым партнерским отношениям и готовы предоставить максимально выгодные индивидуальные условия сотрудничества
		//end text-block
		//- ask
		-
			var ask = {
			classMod: '_default sect-bg',
			title: 'Есть, что спросить?',
			descr: 'Ответим на любые Ваши вопросы'}
		include components/_ask