---
title: Текстовая
---
extends layouts/_layout

block header
	include partials/_header

block content
	+b.MAIN
		+b.SECTION.order-steps
			+e.container.container
				+b.H2.title-md КАК ОФОРМИТЬ ЗАКАЗ
				+e.inner
					+e.block
						+e.H4.block-title
							+e.SPAN 1.
							= ' '
							| Заполнить корзину на сайте
						+e.P Выберите из каталога понравившийся товар, добавьте его в корзину.
						+e.P Заполните контактные данные.
						+e.P Отправьте запрос.
						+e.P В течение рабочего дня с вами свяжется менеджер, для уточнения деталей заказа. Если запрос поступил после 16-00, то звонок может быть перенесен на утро следующего рабочего дня.
					+e.block
						+e.H4.block-title
							+e.SPAN 2.
							= ' '
							| Отправить заказ нам на почту
						+e.P Если вы не знаете какой товар подойдет лично вам, не имеете времени на поиск, то мы сами сделаем вам подборку, полностью отвечающуюй вашим целям и задачам.
						+e.P Для этого воспользуйтесь формой связи и заполните максимально подробно информацию в ней.
					+e.block
						+e.H4.block-title
							+e.SPAN 3.
							= ' '
							| Позвонить по телефону
						+e.P Вы можете связаться с нами по телефону и сделать заказ.
						+e.block-list
							+e.P Наши телефоны:
							+e.UL
								+e.LI
									+e.A.block-list-bold(href='#!') 8 800 505 705 8
									= ' '
									| - единый бесплатный номер
								+e.LI
									+e.A.block-list-bold(href='#!') +7 (499) 197-197-0
									= ' '
									| - офис в г. Москва
								+e.LI
									+e.A.block-list-bold(href='#!') +7 (846) 265-80-80
									= ' '
									| - офис в г. Самара
								+e.LI
									+e.A.block-list-bold(href='#!') +7 (8482) 70-40-40
									= ' '
									| - офис в г. Тольятти
					+e.block
						+e.H4.block-title
							+e.SPAN 4.
							= ' '
							| Выбрать в офисе продаж
						+e.P Вы можете подъехать в любой из наших офисов продаж, получить персональную консультацию и оформить необходимую подборку на месте. Визит в офис необходимо предварительно согласовать с менеджером.
						+e.block-list
							+e.P Адреса наших офисов продаж:
							+e.UL
								+e.LI 123423
									= ' '
									+e.STRONG г. Москва
									+e.P Народного ополчения д. 34, стр. 1, офис 146
								+e.LI 443056
									= ' '
									+e.STRONG г. Самара
									+e.P Луначарского, д. 62
								+e.LI 445037
									= ' '
									+e.STRONG г. Тольятти
									+e.P Новый проезд, д. 8 офис 301
						+e.P Вам могут помочь ответы на часто задаваемые вопросы . Если вы не нашли ответы на свои вопросы, то вы можете задать их нам.



		//- ask
		-
			var ask = {
			classMod: '_default sect-bg',
			title: 'Есть, что спросить?',
			descr: 'Ответим на любые Ваши вопросы'}
		include components/_ask