//BEGIN header
+b.HEADER.header
  +b.BUTTON(type='button').nav-toggle.js-nav-toggle
    +e.SPAN.icon
  +e.container.container
    +e.col
      +e.A.logo(href='#!')
      +e.H1.title Штрих ру
    +e.NAV.col.nav
      +b.A.nav__link(href='#!') О КОМПАНИИ
      +b.A.nav__link.is-active(href='#!') БЛОГ
      +b.A.nav__link(href='#!') СОТРУДНИЧЕСТВО
      +b.A.nav__link(href='#!') КОНТАКТЫ
      +b.A.nav__link(href='#!') ПОРТФОЛИО
    +e.col
      +e.phone
        +e.A.phone-link(href='tel:88001234567') 8 (800) 123-45-67
        +e.SPAN.phone-text Звонок по РФ бесплатный
    +e.col.header__bar
      +e.bar-col
        +e.A.bar-link._mail(href='#!')
      +e.bar-col
        +e.A.bar-link._cart(href='#!')
          +e.SPAN.bar-count 11
      +e.bar-col
        +e.A.bar-link._user(href='#!')
//END header
