if achieve ? achieve : achieve = []

//begin achieve
+b.SECTION.achieve(class= achieve.classMod ? achieve.classMod : '')
	.container
		+b.title-md= achieve.title
		+e.slider.js-achieve-slider.owl-carousel
			+e.A.slider-item(href='#!')
				+e.DIV.slider-text
					+e.DIV.slider-title Благодарность мера Москвы
				+e.DIV.slider-pic
					+e.IMG(src='img/content/achieve-1.jpg')

			+e.A.slider-item(href='#!')
				+e.DIV.slider-text
					+e.DIV.slider-title Предприятие года
				+e.DIV.slider-pic
					+e.IMG(src='img/content/achieve-2.jpg')

			+e.A.slider-item(href='#!')
				+e.DIV.slider-text
					+e.DIV.slider-title Благодарность мера Москвы
					+e.P.slider-descr Рекламное агентство "Штрих Ру" – одно из крупнейших универсальных
				+e.DIV.slider-pic
					+e.IMG(src='img/content/achieve-1.jpg')

			+e.A.slider-item(href='#!')
				+e.DIV.slider-text
					+e.DIV.slider-title Предприятие года
				+e.DIV.slider-pic
					+e.IMG(src='img/content/achieve-2.jpg')

//end achieve