if benefits ? benefits : benefits = []

//begin benefits
+b.SECTION.benefits(class= benefits.classMod ? benefits.classMod : '')
	.container
		+b.H3.title-md= benefits.title
		+e.list
			mixin benefitsItem(item)
				+e.item(class= item.classMod ? item.classMod : '')
					+e.item-pic(class='_' + item.picMod)
					+e.item-text
						+e.item-title= item.title
							if item.titleSymbol
								+e.SUP= item.titleSymbol
						+e.item-sub-title= item.subTitle
						+e.item-descr
							+e.P= item.descrTop
							if item.descrBot
								+e.P= item.descrBot
			each item in benefitsList
				+benefitsItem(item)

		if benefits.slider
			+e.slider.js-benefits-slider.owl-carousel
				for benefitsSldItem in benefitsSldList
					+e.slider-item
						+b.IMG.obj-fit(src='img/content/#{benefitsSldItem}.jpg')

//end benefits