if benefits ? benefits : benefits = []

//begin benefits
+b.SECTION.benefits(class= benefits.classMod ? benefits.classMod : '')
	.container
		+e.H3.title.title-md= benefits.title
		+e.list
			mixin benefitsItem(item)
				+e.item
					+e.item-pic(class='_' + item.picMod)
					+e.item-title= item.title
					+e.item-sub-title= item.subTitle
					+e.item-descr
						+e.P= item.descrTop
						+e.P= item.descrBot
			each item in benefitsList
				+benefitsItem(item)
//end benefits