if deliveryTeaser ? deliveryTeaser : deliveryTeaser = []

//begin delivery-teaser
+b.SECTION.delivery-teaser(class= deliveryTeaser.classMod ? deliveryTeaser.classMod : '')
	+e.container.container
		+b.title-md= deliveryTeaser.title
		+e.pic
			+e.IMG(src='img/content/delivery-teaser.jpg')
		+e.row
			+e.A.btn.btn(href='#!') УСЛОВИЯ ДОСТАВКИ
//end delivery-teaser