if socials ? socials : socials = []

//begin socials
+b.socials(class= socials.classMod ? socials.classMod : '')
	mixin socialsLink(item)
		+e.A.link(class='socials__link_' + item.picClass href='#!')
	each item in socialsList
		+socialsLink(item)
//end socials