.benefits
	&__list
		margin: 58px 0 45px
		font-size: 0
		text-align: center
		+sm
			margin: 40px 0
		+xs
			margin: 25px 0
	&__item
		display: inline-block
		vertical-align: top
		padding: 0 20px 45px
		text-align: center
		width: 33.33333%
		+sm
			padding: 0 10px 20px
		+xs
			width: 50%
		+r(599)
			width: 100%
			padding: 0 10px 10px
		&-pic
			height: 90px
			margin-bottom: 5px
			+vertical
			+sm
				margin-bottom: 4px
			&::after
				content: ''
				display: inline-block
				vertical-align: middle
				margin: 0 auto
			&_tape::after
				+s('tape')
			&_peoples::after
				+s('peoples')
			&_building::after
				+s('building')
			&_vehicle::after
				margin-bottom: 10px
				vertical-align: bottom
				+s('vehicle')
			&_handshake::after
				+s('handshake')
			&_pc-shield::after
				+s('pc-shield')
			&_marker::after
				+s('marker')
			&_pen-ruler::after
				+s('pen-ruler')
			&_present::after
				+s('present')
			&_list::after
				+s('list')
		&-title
			margin-bottom: 5px
			font-size: 22px
			font-weight: 700
			line-height: 1
			color: $black
			+sm
				font-size: 19px
		&-sub-title
			margin-bottom: 5px
			font-size: 16px
			font-weight: 500
			color: $grey
		&-descr
			font-size: 16px
			color: $grey
	&_default
		padding: 65px 0 45px
		+sm
			padding: 50px 0 10px
	&_souvenirs
		padding: 65px 0 63px