.benefits
	&__list
		margin: 53px 0
		font-size: 0
		text-align: center
	&__item
		display: inline-block
		vertical-align: top
		padding: 0 20px 40px
		text-align: center
		width: 33.33333%
		&-pic
			height: 100px
			+vertical
			&::after
				content: ''
				display: inline-block
				vertical-align: middle
				margin: 0 auto
			&_tape::after
				+s('tape')
			&_peoples::after
				+s('peoples')
			&_building::after
				+s('building')
			&_vehicle::after
				vertical-align: bottom
				+s('vehicle')
			&_handshake::after
				+s('handshake')
		&-title
			margin-bottom: 5px
			font-size: 22px
			font-weight: 700
			line-height: 1
			color: $black
		&-sub-title
			margin-bottom: 5px
			font-size: 16px
			font-weight: 500
			color: $grey
		&-descr
			font-size: 16px
			color: $grey
	&_default
		padding: 65px 0 40px