.category
	position: relative
	&::after
		position: absolute
		bottom: 0
		left: 0
		right: 0
		content: ''
		display: block
		background: url('../img/bg/sect-bg.jpg') repeat-x 0 0
		height: 12px
	&__in
		margin: 66px 0 0
		+clr
	&__list
		float: left
		margin-right: 30px
		width: 350px
		&-title
			padding: 0 0 16px
			color: $black
			font-size: 22px
			line-height: 1
			font-weight: 700
			border-bottom: 1px solid #e6e7e8
		&-links
			padding: 42px 20px 42px 0
		&-item
			&:not(:last-child)
				margin-bottom: 10px
		&-item.slick-current &-text
			color: $red
			border-bottom-color: $red
		&-text
			display: inline-block
			cursor: pointer
			border-bottom: 1px solid rgba($grey, .7)
			transition: border-bottom-color .2s, color .2s
			line-height: 19px
			+hover
				color: $red
				border-bottom-color: $red
		&-btn
			position: absolute
			padding: 5px
			background: transparent
			+rotate(90)
			&.slick-disabled
				visibility: hidden
			&_prev
				left: 15px
				top: -10px
			&_next
				bottom: -5px
				left: 15px
			&-icon
				font-size: 44px
				stroke: $black
	&__view
		float: left
		width: calc(100% - 380px)
		&-item
			height: 300px
			overflow: hidden
			img
				transition: all 550ms ease-in-out
				transform: scale(1.25, 1.25)
				opacity: .5
			&.slick-active
				img
					transform: scale(1, 1)
					opacity: 1
		&-btn
			margin-top: 20px
			margin-left: 57px
			padding: 0 27px
	&__list-links, &__view-pic
		display: none
		&.slick-initialized
			display: block
		
	&_default
		padding: 64px 0 175px
		.next-section
			bottom: 10%
	&_calendars
		padding: 64px 0 165px
		&::after
			display: none