.history
	&__container
		max-width: 1490px
	&_default
		padding: 70px 0 160px
		
.history-timeline
	margin: 27px 0 0
	padding: 0 175px
	display: none
	background: url(../img/bg/dashed-line_bg.png) no-repeat 120% 10%
	&.slick-initialized
		display: block
	&__slide
		background: url(../img/bg/dashed-line.png) no-repeat 26% 11%
		&:nth-child(2n)
			background: url(../img/bg/dashed-line.png) no-repeat 86.2% 13%
		&:nth-child(11)
			background: url(../img/bg/dashed-line.png) no-repeat 85.3% 13%
	&__item
		width: 260px
		float: left
		& + &
			margin: 60px 0 0 20px
		&-year
			position: relative
			display: inline-block
			vertical-align: top
			padding: 0 19px
			min-width: 122px
			height: 36px
			line-height: 36px
			font-size: 18px
			color: $white
			font-weight: 700
			background: #f7f7f7 url('../img/bg/label.svg') no-repeat 50% 50%/cover
		&-text
			height: 92px
			margin: 10px 0 0
			font-size: 15px
			line-height: 23px
	&__nav
		position: relative
		display: flex
		justify-content: space-between
		max-width: 730px
		margin: 40px auto 0
		height: 6px
		border-radius: 3px
		background-color: #cbcdce
		font-size: 0
		li
			position: relative
			margin-top: -7px
			width: 20px
			height: 20px
			border: 2px solid transparent
			border-radius: 50%
			background-color: transparent
			cursor: pointer
			pointer-events: none
			+gpu
			&::before
				left: 7px
			&::after
				display: none
			&.slick-active
				background-color: $red
				border-color: $white
				animation: myFlip 1.2s
			&:first-child
				margin-left: -10px
				span::before, button::after
					display: none
			&:last-child
				margin-right: -10px
				span::after, button::before
					display: none
		button
			pointer-events: all
			position: absolute
			left: -7px
			bottom: -30px
			font-size: 14px
			font-weight: 700
			color: $black
			background: transparent
			&::before
				left: 44px
				top: -11px
				bottom: -14px
			&::after
				top: -11px
				left: -13px
				bottom: -14px
			span
				&::before
					left: -42px
					bottom: 17px
				&::after
					right: -44px
					bottom: 17px
		span, button, li
			&::before, &::after
				content: ''
				position: absolute
				background: #cccecf
				width: 1px
				height: 10px
				bottom: -13px
				
@keyframes myFlip
	from
		transform: perspective(400px) rotate3d(0, 1, 0, 120deg)
		animation-timing-function: ease-in-out
		opacity: .5
	
	40%
		transform: perspective(400px) rotate3d(0, 1, 0, -40deg)
		animation-timing-function: ease-in-out
	
	60%
		transform: perspective(400px) rotate3d(0, 1, 0, 20deg)
		opacity: 1
	
	80%
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
	
	to
		transform: perspective(400px)