.team
	&__in
		margin: 45px 0 30px
		+clr
	&__col
		float: left
		&:nth-child(1)
			width: percentage(350 / 1110)
			margin-right: 30px
		&:nth-child(2)
			width: percentage(730 / 1110)
	&__lead
		&-pic
			padding-top: 104%
			+cover
		&-text
			position: relative
			margin: 35px 0 0
			padding: 0 20px 15px 28px
			font-size: 15px
		&-title
			color: $black
			font-weight: 700
		&-descr
			line-height: 25px
		&-quote
			position: absolute
			fill: $red
			font-size: 13px
			&_l
				top: 0
				left: 0
			&_r
				right: 0
				bottom: 10%
		&-name
			margin-top: 8px
			font-weight: 500
			color: $black
	&__slider
		.owl-carousel__btn_prev
			left: -500px
		.owl-carousel__btn_next
			right: -130px
		.owl-carousel__btn-icon
			font-size: 141px
	&__person
		margin-bottom: 15px
		text-align: center
		&-pic
			width: 160px
			height: 213px
			img
				height: 100%
		&-data
			padding: 10px 0 0
			line-height: 25px
		&-name
			font-weight: 500
		&-position
			font-weight: 400
		&-tel
			display: block
			margin-bottom: 2px
			font-weight: 400
		&-mail
			display: block
			font-weight: 500
	&_default
		padding: 65px 0 132px
		.next-section
			bottom: 8%