.icon-mouse-down {
  width: 0.41em;
  height: 1em;
  fill: initial;
}
.icon-quote_l {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-quote_r {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-lg_l {
  width: 0.23em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-lg_r {
  width: 0.25em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-md_l {
  width: 0.24em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr-md_r {
  width: 0.24em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr_l {
  width: 0.31em;
  height: 1em;
  fill: none;
}
.icon-sld-arr_r {
  width: 0.31em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1.06em;
  height: 1em;
  fill: #de4e4e;
}
