.icon-mouse-down {
  width: 0.41em;
  height: 1em;
  fill: initial;
}
.icon-quote_l {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-quote_r {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-sld-arr_l {
  width: 0.31em;
  height: 1em;
  fill: none;
}
.icon-sld-arr_r {
  width: 0.31em;
  height: 1em;
  fill: none;
}
